@font-face {
	font-family: 'luf-bold';
	src: url('./assets/Lufga-Bold.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'luf-reg';
	src: url('./assets/Lufga-Regular.otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'luf-semi';
	src: url('./assets/Lufga-SemiBold.otf');
	font-weight: normal;
	font-style: normal;
}

*, body {
	font-family: 'luf-reg';
	outline: none;
}

strong {
	font-family: 'luf-bold';
}

.med {
	font-family: 'luf-semi';
}

body {
	background-color: #4a2c81 !important;
}

ion-content {
	--background: #4a2c81 !important;
	--color: #fff;
}

.container {
	padding: 0 2em;
	width: 100%;
}

.hundred {
	padding: 0;
	width: 100%;
}

input, textarea {
	width: 100%;
	padding: 1.4em 1em;
	background-color: rgba(249, 202, 35, 0.1);
	border-radius: 0.75em;
	margin-bottom: 0.5em;
	border: solid 2px rgba(249, 202, 35, 0);
	color: #fff;
}

input:focus, textarea:focus {
	border: solid 2px rgba(249, 202, 35, 0.8);
}

input::placeholder, textarea::placeholder {
	color: rgba(249, 202, 35, 0.4);
}

.yellow {
	color: rgba(249, 202, 35, 1);
}

.white {
	color: #fff !important;
}