@font-face {
	font-family: "luf-bold";
	src: url("./assets/Lufga-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "luf-reg";
	src: url("./assets/Lufga-Regular.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "luf-semi";
	src: url("./assets/Lufga-SemiBold.otf");
	font-weight: normal;
	font-style: normal;
}

*, body {
	font-family: "luf-reg";
	outline: none;
}

strong {
	font-family: 'luf-bold';
}

.med {
	font-family: 'luf-semi';
}

body {
	background-color: #4A2C81 !important;
}

.container {
	padding: 0 2em;
	width: 100%;
}